# Executables
*.exe
*.txt
*.csv
*.md
*.ps1
*.nnue
!README.md
main

# Object files
src/*.o

# VS Code / IDE configs
.vscode/
.idea/

lichess_db_puzzle.csv
engine_diagnostics.c
chess-openings/
head_to_head.py